body {
    background-color: #6fc7bb;
}

.container-md {
    margin: 2rem auto;
}

.btn {
    border: 3px solid white;
    background-color: #8CEBDA;
}

.input-group-text {
    background-color:white;
    
}

h2, h4{
    text-align: center;
}

i {
    pointer-events: none;
}

